<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="../public/contact.css" />
    <link rel="stylesheet" href="../icons.css" />
  </head>
  <body>
    <div class="container">
      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="../index.html" class="navigation__link"
                ><span><i class="icon-basic-home"></i></span>HOME</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/about.html" class="navigation__link"
                ><span
                  ><i class="icon-basic-todolist-pen nav_icons_other"></i></span
                >ABOUT</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/projects.html" class="navigation__link"
                ><span
                  ><i class="icon-basic-pencil-ruler nav_icons_other"></i></span
                >PROJECT</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/resume.html" class="navigation__link"
                ><span>
                  <i class="icon-basic-sheet-txt nav_icons_other"></i></span
                >RESUME</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/contact.html" class="navigation__link "
                ><span
                  ><i
                    class="icon-basic-mail-open-text nav_icons_other"
                  ></i></span
                >CONTACT</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="header">
        <h1 class="heading">FEEL FREE TO</h1>
        <h2 class="aboutheding">CONT<span class="heading_span">ACT</span></h2>
      </div>
      <div class="contact">
        <div class="right">
          <div class="instagram smedia">
            <a
              href=" https://www.instagram.com/invites/contact/?i=1awjswse7uo1x&utm_content=6wehi4f "
            >
              <img
                src="../images&video/instagram.png"
                alt=""
                class="contact_icons"
            /></a>
          </div>
          <div class="whatsapp smedia">
            <a href="https://wa.link/zbo4ii">
              <img
                src="../images&video/whatsapp.png"
                alt=""
                class="contact_icons"
              />
            </a>
          </div>
          <div class="inkedin smedia">
            <a href="http://www.linkedin.com/in/sanjay-s-7b5976250">
              <img
                src="../images&video/linkedin.png"
                alt=""
                class="contact_icons"
              />
            </a>
          </div>
          <div class="leetcode smedia">
            <a href="https://leetcode.com/u/sanjay2103/">
              <img
                src="../images&video/leetcode.png"
                alt=""
                class="contact_icons"
              />
            </a>
          </div>
          <div class="github smedia">
            <a href="https://github.com/2103Sanjay"
              ><img
                src="../images&video/github.png"
                alt=""
                class="contact_icons"
            /></a>
          </div>
        </div>
        <div class="left">
          <p class="contact_discription">
            🌐 Welcome to my digital playground! 💻 Step into my world of web
            wizardry, where lines of code transform into captivating
            experiences! 🚀 As a seasoned web developer, I breathe life into
            ideas, crafting sleek designs and seamless functionality. 💡 Explore
            a portfolio where innovation meets functionality, each project a
            testament to my dedication to excellence. 🖥️ Whether you're dreaming
            of an eye-catching website, a dynamic web application, or robust
            e-commerce solutions, I'm here to make it happen! 💬 Let's
            collaborate and build something remarkable together. Reach out
            today, and let's turn your online vision into reality! 📩
          </p>
        </div>
      </div>
    </div>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="../js/contact.js"></script>
  </body>
</html>
